/* font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Public+Sans:wght@300;400;700&display=swap');

/* Global Variable */
:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #ffffff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 25px;
    --border-radius-1: 7px;
    --border-radius-2: 13px;
    --border-radius-3: 20px;

    --card-padding: 28px;
    --padding-1: 20px;

    --box-shadow: 0 32px 48px var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
   /* width: 100%; */
   height: 100vh; 
   font-family: poppins, sans-serif;
   font-size: 14px;
   background: var(--color-background);
   user-select: none;
   color: var(--color-dark);
   overflow-x: hidden;
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 225px auto 23rem;
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 28px;
}

h2{
    font-size: 22px;
}

h3{
    font-size: 14px;
}

h4{
    font-size: 13.5px; 
}

h5{
    font-size: 12.8px;
}

small{
    font-size: 12px;
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.profile-photo{
   width: 45px;
   height: 45px;
   border-radius: 50%;
   overflow: hidden; 
}

.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

/* Global CSS End */

/* ============ ASIDE ============== */
aside{
   height: 100vh;
}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
}

aside .logo{
    display: flex;
    gap: 10px;
}

aside .logo img{
    width: 28px;
    height: 28px;
}

aside .close{
    display: none;
}

/* ============ SIDEBAR CSS============== */
aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 85vh;
    position: relative;
    top: 50px;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 26px;
    gap: 16px;
    align-items: center;
    position: relative;
    height: 52px;
    transition: all 0.3s ease;
}

aside .sidebar a span{
    font-size: 20px;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 30px;
    width: 100%;
}

aside .sidebar a.active{
   background: var(--color-light); 
   color: var(--color-primary);
   margin-left: 0;
}

aside .sidebar a.active:before{
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 11px;
}

aside .sidebar .message-count{
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* ============ MAIN CSS ============== */
main{
    margin-top: 22px;
}

main .date{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 15px;
    padding: 8px 15px;
}

main .date input[type='date']{
    background: transparent;
    color: var(--color-dark);
}

main .insights{
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights .insight-card{
    margin-top: 20px;
    background: var(--color-white);
    padding: var(--card-padding);
} 

main .insights .insight-card{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 20px;
    box-shadow: var(--box-shadow);
    width: 100%;
    transition: all 0.3s ease;
}

main .insights .insight-card:hover{
    box-shadow: none;
}

main .insights .insight-card .icon span{
    background: var(--color-primary);
    padding: 8px;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 32px;
}

main .insights .insight-card.expenses .icon span{
    background-color: var(--color-danger);
}
main .insights .insight-card.income .icon span{
    background-color: var(--color-success);
}

main .insights .insight-card .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3{
    margin: 1rem 0 0.6rem;
    font-size: 16px;
}

main .insights small{
    margin-top: 18px;
    display: block;
}

main .insights .progress{
    width: 92px;
    height: 92px;
    border-radius: 50%;
    position: relative;
}

main .insights svg{
    width: 7rem;
    height: 7rem;
}

main .insights svg circle{
    fill: transparent;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

main .insights .sales svg circle{
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .insights .expenses svg circle{
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}

main .insights .income svg circle{
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}

main .insights .progress .number{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .recent-orders{
    margin-top: 32px;
}

main .recent-orders h2{
    margin-bottom: 15px;
}

main .recent-orders table{
    width: 100%;
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
    transition: all 0.3s ease;
}

main .recent-orders table:hover{
    box-shadow: none;
}

main table tbody td{
    height: 42px;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td{
    border: none;
}

main .recent-orders .show-all{
    text-align: center;
    padding: 20px 0;
}

/* RIGHT SIDEBAR */
.right-sidebar{
    margin-top: 22px;
}

.right-sidebar .top{
    display: flex;
    justify-content: end;
    gap: 30px;
    align-items: center;
}

.right-sidebar .top button{
    display: none;
}

.right-sidebar .top .profile{
    display: flex;
    gap: 10px;
}

.theme-toggle{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    width: 70px;
    border-radius: var(--border-radius-2);
}

.theme-toggle span{
    font-size: 20px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.theme-toggle span.active{
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius-2);
}

.right-sidebar .recent-updates{
    margin-top: 22px;
}

.right-sidebar .recent-updates h2{
    margin-bottom: 15px;
}

.right-sidebar .recent-updates .updates{
    background-color: var(--color-white);
    padding: var(--card-padding) 20px;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

.right-sidebar .recent-updates .updates:hover{
    box-shadow: none;
}

.right-sidebar .recent-updates .updates .update{
    display: grid;
    grid-template-columns: 2.9rem auto;
    gap: 15px;
    margin-bottom: 15px;
}

.right-sidebar .recent-updates .updates .update:last-child{
    margin-bottom: 0;
}

.right-sidebar .sales-analytics{
    margin-top: 22px;
}

.right-sidebar .sales-analytics h2{
    margin-bottom: 15px;
}

.right-sidebar .sales-analytics .item{
    display: flex;
    gap: 15px;
    align-items: center;
    background-color: var(--color-white);
    padding: 15px 20px;
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.right-sidebar .sales-analytics .item:hover{
    box-shadow: none;
}

.right-sidebar .sales-analytics .item .icon{
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    padding: 10px;
    color: var(--color-white);
}

.right-sidebar .sales-analytics .item.online .icon{
    background-color: var(--color-primary);
}

.right-sidebar .sales-analytics .item.offline .icon{
    background-color: var(--color-danger);
}

.right-sidebar .sales-analytics .item.online .icon{
    background-color: var(--color-success);
    border-radius: 50%;
    display: flex;
    padding: 10px;
    color: var(--color-white);
}

.right-sidebar .sales-analytics .item .right{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.right-sidebar .sales-analytics .item.add-product{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    background: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
}

.right-sidebar .sales-analytics .item.add-product h3{
    font-weight: 600;
}

/* ====================MEDIA QUERIES======================= */
@media screen and (max-width:1200px) {
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2{
        display: none;
    } 

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-orders{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .recent-orders table{
        width: 83vw;
    }
}



